<!DOCTYPE html>
<html lang="en" style="zoom:0.6">

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=1024px"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>Quotation TFES </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"  type='text/css>   -->
</head>

<style>
    body {
        background: white;
        font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
        font-size: 12px;
        -webkit-print-color-adjust: exact;
    }

    ;

    @media print {
        body {
            background: white;
        }

        .page {
            margin: 0;
            height: 100%;
            width: 100%;
        }
    }


    h4 {
        font-size: 14px;
        margin: 0;
        line-height: 15px;
    }

    p {
        font-size: 16px;
        margin: 0;
    }

    page {
        font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
        background: white;
        display: block;
        margin: 0;
        margin-bottom: 0cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    td,
    th {
        font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
        padding: 4px 0;
        font-size: 14px;
        border-top: 1px solid #000000;
    }

    .header-section,
    terms-n-conditions-section {
        padding: 1rem;
    }

    .header-section-spacing {
        padding-right: 1rem;
    }

    .company-details p {
        font-size: 8px;
    }

    .company-details {
        margin-top: 1rem;
    }

    hr {
        margin: 0.1rem auto;
    }


    .debug-border {
        border: 1px solid red
    }

    .spacing-40 {
        padding: 40px 0;
    }

    .spacing-10 {
        padding: 10px 0;
    }

    .spacing-20 {
        padding: 20px 0;
    }

    .spacing-5 {
        padding: 5px 0;
    }

    .spacing-2 {
        padding: 2px 0;
    }

    .side-spacing-8 {
        padding: 0px 8px;
    }

    .side-spacing-30 {
        padding: 0px 30px;
    }

    p.company-title {
        font-weight: bold;
        font-size: 8px;
    }

    .font-weight-bold {
        font-weight: bold;
    }

    .td-spacing {
        padding: 5px 8px;
    }

    .center {
        text-align: center;
    }

    .left {
        text-align: left;
    }

    /* Avoid page break in the middle of a row */
    .avoid {
        page-break-inside: avoid !important;
        margin: 4px 0px 4px;
        padding: 2px 0px 2px;
    }

    .header-row {
        border-top: 1px solid;
        border-bottom: 1px solid;
        background-color: #cecece !important
    }
</style>


<body>
    <!-- <page size="A4"> -->
    <!-- LOGO AND ACCOLATES SECTION  -->
    <!-- LOGO AND ACCOLATES SECTION  -->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xs-3 header-section-spacing justify-content-center align-self-center">
                <img src="tfs.png" width="90%" />
            </div>
            <div class="col-xs-3 header-section-spacing company-details" style="padding-top:15px">
                <p class="company-title ">TF ENERGY SERVICES PTE LTD</p>
                <p>5 TUAS AVE 10, Singapore 639129</p>
                <p>TEL: (65) 68737133 FAX: (65) 68737833</p>
                <p> EMAIL: sales@tfes.com.sg</a></p>
                <p> WEB: www.tfes.com.sg</a></p>
                <p>CO / GST Reg No :201713752D</p>
            </div>
            <div class="col-xs-6 header-section-spacing justify-content-center align-self-center"
                style="padding-top: 1rem">
                <img src="bizSafeStar.jpeg" width="24%" />
                <img src="ISO 9001-2015.jpg" width="24%" />
                <img src="ISO 14001-2015.jpg" width="24%" />
                <img src="ISO 45001-2018.jpg" width="24%" />
            </div>
        </div>
    </div>

    <!-- TITLE  -->
    <div class="spacing-10"></div>
    <div class="container-fluid">
        <div class=""></div>
        <h2 class="text-center" style="text-align: center; margin: 0 auto">PURCHASE ORDER LIST</h2>
        <div class="spacing-10"></div>
    </div>

    <!-- QUOTATION TABLE SECTION  -->
    <div class="container-fluid ">
        <div class="row">
            <div class="col-xs-12">
                <table width="100%">
                    <tr class="header-row">
                        <th width="10%" class="side-spacing-30 left">PO Number</th>
                        <th width="10%" class="side-spacing-8 center">Purchase Type</th>
                        <th width="10%" class="side-spacing-8 center">Date </th>
                        <th width="28%" class="side-spacing-8">Supp. Name</th>
                        <th width="8%" class="side-spacing-8 center">Supp. Number</th>
                        <th width="12%" class="side-spacing-8 center">PurchasePIC</th>
                        <th width="12%" class="side-spacing-8">Amount</th>
                        <th width="10%" class="side-spacing-8">Status</th>
                    </tr>
                    <% for(var i=0; i < data.length; i ++) {%>
                        <tr style="border-bottom: 1px solid">
                            <td class="side-spacing-30">
                                <div class="avoid">
                                    <%= data[i].poNumber ? data[i].poNumber : "" %>
                                </div>
                            </td>
                            <td class="side-spacing-8 center">
                                <div class="avoid">
                                    <%= data[i].purchaseType ? data[i].purchaseType : "" %>
                                </div>
                            </td>
                            <td class="side-spacing-8 center">
                                <div class="avoid">
                                    <%= moment(data[i].updatedAt).format("DD/MM/YYYY") %>
                                </div>
                            </td>
                            <!-- TO ADD NICKNAME IN THE FUTURE -->
                            <td class="side-spacing-8">
                                <div class="avoid">
                                    <%- data[i].name %>
                                </div>
                            </td>
                            <td class="side-spacing-8 center">
                                <div class="avoid">
                                    <%- data[i].suppNo %>
                                </div>
                            </td>

                            <% if (data[i].purchasePic){%>
                                <td class="side-spacing-8 center">
                                    <div class="avoid">
                                        <%= data[i].purchasePic.firstName %>
                                            <%= data[i].purchasePic.lastName %>
                                    </div>
                                </td>
                                <% } else { %>
                                    <td class="side-spacing-8 center"></td>
                                    <% } %>

                                        <td class="side-spacing-8">
                                            <div class="avoid">
                                                <%= data[i].currency ? data[i].currency.currencySymbol : "" %>
                                                    <%= data[i].total ? data[i].total.toLocaleString("en-SG", {style: "decimal" ,
                                                        minimumFractionDigits: 2, maximumFractionDigits: 2}) : "0.00" %>
                                            </div>
                                        </td>
                                        <td class="side-spacing-8">
                                            <div class="avoid">
                                                <%= data[i].status %>
                                            </div>
                                        </td>

                        </tr>
                        <% } %>
                </table>
            </div>
        </div>

        <div id="pageFooter"></div>
        <!-- SECTION computer generated signature   -->

        <!-- </page> -->
        <!-- <br><br> -->
</body>

<script src="" async defer></script>

</html>